<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Consultorio Odontologico</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/flexslider.css")
     @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    @*<script src="~/Scripts/jquery-1.7.1.min.js"></script>*@

    @*@Scripts.Render("~/Scripts/jquery.flexslider.js")*@

</head>


<body>
    <header>
    </header>
    <div id="body2">
        <div class="center">
            <nav>
                <ul>
                    <li><a href="/Index" style="border-top-left-radius: 7px;">Inicio</a></li>
                    <li><a href="/about">Sobre Nosotros</a>

                    </li>
                    <li><a href="/products">Productos</a>

                    </li>
                    <li><a href="/services">Services</a>

                    </li>
                    <li><a href="/contact" style="border-top-right-radius: 7px;">Contact</a>

                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="body">

        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Created by Federico Zablotzky</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
